.machead {
  background-color: #141414;

  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
  padding-top: 49px;
  margin: 0 34px;
}

.par {
  font-size: 11px;
  line-height: 1.09091;
  font-weight: 400;
  letter-spacing: 0.005em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  display: block;
  margin: 0;
  color: white;
  padding-top: 20px;
}
.o {
  color: orange;
  font-size: 8px;
  margin: 0px;
}
.fill {
  background-color: #141414;
  height: 159px;
  margin-bottom: 0px;
}

.mact {
  margin: 0px;
}

.flexthis {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 36%;
  margin-left: 32%;
  font-size: 21px;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: lightskyblue;
  margin-top: 16px;
}

.imacpro {
  background-color: #1a1a1a;
  margin-top: 0;
}

.imacproh {
  font-size: 80px;
  line-height: 1.0625;
  margin-top: 0px;
  padding-top: 80px;
  letter-spacing: -0.02em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}

.imacpros {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 2px;
  color: white;
}

.imach {
  padding-top: 45px;
  font-size: 80px;
  line-height: 1.0625;

  letter-spacing: -0.02em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

.imacs {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 2px;
}

.macbookproh {
  font-size: 80px;
  line-height: 1.0625;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}
.macbookpros {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 2px;
}
.macbookproim {
  margin-top: 0px;
  width: 1350px;
  height: 721px;
  display: inline;
}
.macbookh {
  font-size: 80px;
  line-height: 1.0625;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}
.macbooks {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0px;
}

.os {
  background-image: url("../../Asssetts/tile_high_sierra_large.jpg");
  background-position: center;
  height: 500px;
}
.osh {
  padding-top: 155px;
  font-size: 80px;
  line-height: 1.0625;
  letter-spacing: -0.02em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}
.oss {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: white;
  margin: 0px;
}
